<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto mt-5">
            <h3 class="text-center">Cambia tu foto de perfil</h3>
            <form action="/change-profile" method="POST" enctype="multipart/form-data">
                <input name="profile" class="form-control" type="file" required>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
