<div class="px-4 py-5 my-5 text-center hero">
      <img
        style="width: 20%; height: 30%"
        class="d-block mx-auto mb-4 img-picgram"
        src="/img/picgram.jpg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="display-5 fw-bold">PicGram</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
         Bienvenido a PicGram.
         sube tu imagen,
         comparte con la comunidad,
         comenta,
         dale like,
         disfruta.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/signup">

            <button
              type="button"
              class="btn btn btn-lg px-4 gap-3"
              style="background-color: #22c1c3"
            >
              registrate!
            </button>
          </a>
          <a href="/login">
            <button
          
            type="button"
            class="btn btn-outline btn-lg px-4"
            style="background-color: #fdbb2d"
          >
            logIn!
          </button>
          </a>
          
        </div>
      </div>
    </div>